Source: striptool
Section: contrib/x11
Priority: extra
Maintainer: Michael Davidsaver <mdavidsaver@bnl.gov>
Build-Depends: debhelper (>= 7), cdbs,
               epics-dev (>= 3.14.11-2),
               epics-extensions-dev (>= 20091204.1),
               libgif-dev, libpng-dev, libz-dev, libreadline-dev,
               libmotif-dev, libx11-dev, libxp-dev, libxmu-dev,
               libxtst-dev, libxpm-dev, x11proto-print-dev
Standards-Version: 3.8.0
Homepage: http://www.aps.anl.gov/epics/extensions/StripTool/index.php

Package: striptool
Architecture: any
Depends: netpbm, cups-bsd | lpr | lprng,
        ${shlibs:Depends}, ${misc:Depends},
Description: The Extensible Display Manager
 A display manager (GUI) for the EPICS control system
